.divBodyBox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.divBody {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30rem;
    border-radius: 1rem;


}
.divCard {
    border-radius: 1rem;
    color: #000000;
    transition: all 0.2s linear;
    width: 22rem;
    height: 30rem;



}

.profilInfos {
    position: fixed;

    bottom: 0;
}
.name {
    font-family: Consolas;
    font-size: 20px;
    color: white;
    text-align: center;
}

.vereinposi {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.verein {
    background-color: white;
    width: 4rem;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.position {
    background-color: white;
    width: 4rem;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.img {
    width: 100%;
    display: block;
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
    transition: all 0.5s linear;
}
