.cardContainer {

}
.swipe {
    border-radius: 1rem;
    width: 18rem;
    height: 22rem;
}
.image {
    border-radius: 1rem 1rem 0rem 0rem;
    height: 22rem;
    width: 18rem;
    object-fit: fill;
}
.card {
    text-align: center;
}
.frontStyle {
    width: 18rem;
    height: 24rem;
}
.backStyle {
    width: 18rem;
    height: 24rem;
    background-color: white;
    color: black;
}

.myflip {
    width: 18rem;
    height: 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
}





